@using BHJet_Admin.Models.ClienteAvulso
@using BHJet_Enumeradores
@model ClienteAvulsoModel

@Scripts.Render("~/bundles/jqueryval")

<ol class="breadcrumb">
	<li><a onclick="history.go(-1);">Home</a></li>
	<li><a href="#">Dados Cliente</a></li>
</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="titulo">
						<h2>
							@ViewBag.TipoAlteracao Cliente Avulso
						</h2>
					</div>

					<div class="row">
						@{
							Html.RenderPartial("_DetalheClienteAvulso", Model);
						}
					</div>

					<div class="row">
						@{
							Html.RenderPartial("_ListOsClienteAvulso", Model);
						}
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

