
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<div class="main-sidebar">

	<section id="menuLateral" class="sidebar" style="height: auto;">
		<div class="cts-titulo-side-bar">
			<span>Solicitar entrega / serviço</span>
		</div>
		<input id="origin-input" class="controls" type="text"
			   placeholder="Enter an origin location">

		<input id="destination-input" class="controls" type="text"
			   placeholder="Enter a destination location">

	</section>

</div>
<div class="container-fluid cts-page-home">
</div>

