@{
    ViewBag.Title = "Home Page";
}

<header id="header">
    <div class="intro">
   
            <div class="container">
                <div class="row">
                    <div class="col-md-5 intro-text">

                        <div id="solicitacao" class="thumbnail">
                            <div class="row titulo">
                                <h2>BHJET Express</h2>
                                <h5>Logística e serviços</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Solicitar entraga avulsa</button>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Acompanhar uma solicitação</button>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="solicitacao-links">
                                        <i class="fa fa-info-circle">@Html.ActionLink("Saiba mais sobre nossos serviços", "About", "Home")</i>
                                        <i class="fa fa-info-circle">@Html.ActionLink("Atualizar meu cadastro dados para pagamento", "About", "Home")</i>
                                        <i class="fa fa-info-circle">@Html.ActionLink("Histórico de serviços / entregas", "About", "Home")</i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        
        
        </div>
    </div>
</header>
