
<script type="text/javascript" src="~/Scripts/Registrar.js"></script>

<div id="mdSu" class="modal fade" style="margin-top: 10%;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color: white;" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Acessar minha conta BHJet:</h4>
            </div>
            <div class="modal-body">
                <form id="ctnLg" action="/action_page.php">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="uname"><b>Usuário</b></label>
                                <input type="text" placeholder="Email" name="uname" required>
                            </div>

                            <div class="col-md-12">
                                <label for="psw"><b>Senha</b></label>
                                <input type="password" placeholder="Senha" name="psw" required>
                            </div>

                            <div class="col-md-12 text-right">
                                <br />
                                <button type="submit">Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="background-color:#f1f1f1; margin:10px 0px">
                        <a id="btnCrCC">Criar minha conta na BHJET</a>
                        <br />
                        <a id="btnEsSn">Esqueci minha senha</a>
                    </div>
                </form>

                <form id="ctnReg" style="display:none" action="/action_page.php">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="uname"><b>Email *</b></label>
                                <input type="text" placeholder="Email" name="uname" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="psw"><b>Telefone Celular *</b></label>
                                <input type="text" placeholder="Tel. Celular" required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Telefone Comercial *</b></label>
                                <input type="text" placeholder="Tel. Comercial" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="psw"><b>Senha *</b></label>
                                <input type="password" placeholder="senha" required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Confirmação Senha *</b></label>
                                <input type="password" placeholder="senha" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="psw"><b>Nome idêntico ao cartão de crédito *</b></label>
                                <input type="text" placeholder="Nome cartão" required>
                            </div>
                            <div class="col-md-12">
                                <label for="psw"><b>Número idêntico ao cartão de crédito *</b></label>
                                <input type="text" placeholder="Número cartão"  required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Validade *</b></label>
                                <input type="text" placeholder="Validade" required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Código de verificação *</b></label>
                                <input type="password" placeholder="Código" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="psw"><b>CPF *</b></label>
                                <input type="text" placeholder="CPF" required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Data nascimento *</b></label>
                                <input type="text" placeholder="Data nascimento" required>
                            </div>
                            <div class="col-md-6">
                                <label for="psw"><b>Sexo *</b></label>
                                <input type="text" placeholder="Sexo"  required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <br />
                                <button type="submit">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="background-color:#f1f1f1; margin:10px 0px">
                        <a id="btnJaPossui">Ja possuí conta ?</a>
                    </div>
                </form>


            </div>

            <div class="modal-footer">

                <button id="closeMsgGeral" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
