@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/Images/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/Images/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/Images/bg01.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/Images/bg01.png");
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em;
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em;
}

.radio, .checkbox {
    margin-top: 0px;
}

a {
    color: #0090c5;
    text-decoration: underline;
}

    a:hover {
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 800;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
        outline: 0;
    }

h2 {
    font-size: 2.25em;
    margin: 0 0 1.1em 0;
    line-height: 1em;
}

h3 {
    font-size: 1.35em;
    margin: 0 0 1em 0;
}

b, strong {
    font-weight: 600;
    color: #444;
}

i, em {
    font-style: italic;
}

br.clear {
    clear: both;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #eee;
}

blockquote {
    border-left: solid 0.5em #eee;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table {
    margin-bottom: 2em;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}

@media screen and (max-width: 1680px) {

    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 1280px) {

    .container {
        width: 960px;
    }
}

@media screen and (max-width: 980px) {

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 736px) {

    .cts-titulo-side-bar .iconeLeft {
        float: none;
    }

    .cts-titulo-side-bar .titulo {
        margin-right: unset;
    }

    .cts-subtitulo-side-bar .iconeLeft {
        float: none;
    }

    .cts-subtitulo-side-bar .titulo {
        margin-right: unset;
    }

    .container {
        width: 100%;
    }
}



header {
    margin: 0 0 2em 0;
}

    header h2, header h3 {
        margin: 0 0 0.25em 0;
    }

    header p {
        margin: 0;
    }

footer {
    margin: 2.5em 0 0 0;
}

/* Forms */

form label {
    display: inline;
    font-weight: 800;
    margin: 0 0 1em 0;
    font-size: 0.8em;
    color: #444;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #a59807;
}

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form select:focus,
    form textarea:focus {
        border-color: #0090c5;
    }

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    line-height: 3em;
    padding: 0 1em;
}

form select {
    line-height: 3em;
    padding: 0 1em;
}

form textarea {
    min-height: 4em;
    padding: 1em;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}


/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #117196;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    /* font-size: 1.35em; */
    padding: 0.6em 1.5em;
}

    input[type="button"].icon:before,
    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    button.icon:before,
    .button.icon:before {
        position: relative;
        margin-right: 0.5em;
        top: 0.05em;
    }

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
        background: #10a0d5;
    }

    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    button:active,
    .button:active {
        background: #20b0e5;
    }

    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
        background: #f1f1f1;
        background: rgba(0, 0, 0, 0.05);
        color: #444;
    }

        input[type="button"].alt:hover,
        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        button.alt:hover,
        .button.alt:hover {
            background: #e8e8e8;
            background: rgba(0, 0, 0, 0.085);
        }

        input[type="button"].alt:active,
        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        button.alt:active,
        .button.alt:active {
            background: #e4e4e4;
            background: rgba(0, 0, 0, 0.15);
        }

    input[type="button"].large,
    input[type="submit"].large,
    input[type="reset"].large,
    button.large,
    .button.large {
        font-size: 2.25em;
        padding: 0.8em 0.9em;
    }


/* Menu */

ul.menu {
    list-style: none;
    padding-left: 0;
}

    ul.menu li {
        border-left: solid 1px #e0e0e0;
        display: inline-block;
        padding: 0 0 0 0.75em;
        margin: 0 0 0 0.75em;
    }

        ul.menu li:first-child {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }



#header-wrapper {
    padding: 8px 10px;
    background: -webkit-linear-gradient(top, #ebdb1d, #e8e807);
    margin-bottom: 15px;
}

#features-wrapper {
    padding: 3em 0 3em 0;
}

#main-wrapper {
    background: #fff;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 5em 0 5em 0;
}

#footer-wrapper {
    padding: 6em 0 8em 0;
}

/* Header */

#header {
    position: relative;
}

/* Logo */

#logo {
    display: inline-block;
}

    #logo h1 {
        background: #ff4486;
        color: #fff;
        border-radius: 6px;
        font-family: 'Oleo Script', serif;
        font-weight: 400;
        padding: 0.25em 0.2em 0.25em 0.2em;
        font-size: 3.25em;
        letter-spacing: 0.05em;
        display: inline-block;
        vertical-align: middle;
    }

    #logo span {
        font-weight: 800;
        line-height: 4.5em;
        letter-spacing: 0.025em;
        font-size: 0.9em;
        vertical-align: middle;
        margin: 0 0 0 1.25em;
    }

/* Nav */

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

    #nav ul {
        list-style: none;
        padding-left: 0;
    }

        #nav ul li {
            float: left;
            line-height: 4.5em;
            padding-left: 1.5em;
        }

            #nav ul li a, #nav ul li span {
                -moz-transition: background-color .25s ease-in-out;
                -webkit-transition: background-color .25s ease-in-out;
                -ms-transition: background-color .25s ease-in-out;
                transition: background-color .25s ease-in-out;
                font-weight: 800;
                letter-spacing: 0.025em;
                color: #262623;
                text-decoration: none;
                border-radius: 6px;
                padding: 0.5em 1em 0.5em 1em;
                display: inline;
                padding: 15px;
            }

            #nav ul li > ul {
                display: none;
            }

            #nav ul li:hover a, #nav ul li:hover span {
                background: #fff;
            }

            #nav ul li.active a, #nav ul li.active span {
                background: #fff;
            }

            #nav ul li.current a {
                background: #373730;
                color: #ffffff;
            }

.dropotron {
    background: #fff;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.75em 0;
    min-width: 15em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
    margin-top: calc(-0.75em + 1px);
    margin-left: -1px;
    list-style: none;
    padding-left: 0;
}

    .dropotron li {
        border-top: solid 1px #eee;
        line-height: 3em;
        padding-left: 0;
    }

        .dropotron li:first-child {
            border-top: 0;
        }

        .dropotron li > a, .dropotron li > span {
            -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
            -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
            -ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
            transition: color .25s ease-in-out, background-color .25s ease-in-out;
            text-decoration: none;
            color: inherit;
            display: block;
            padding: 0 1.5em;
        }

            .dropotron li > a:hover, .dropotron li > span:hover {
                background: #eee;
            }

        .dropotron li.active > a, .dropotron li.active > span {
            background: #eee;
        }

    .dropotron.level-0 {
        font-size: 0.8em;
        margin-left: 1.5em;
        margin-top: 0;
    }

        .dropotron.level-0:before {
            content: '';
            position: absolute;
            top: -0.5em;
            left: 1em;
            border-bottom: solid 0.75em #ffffff;
            border-left: solid 0.75em transparent;
            border-right: solid 0.75em transparent;
            z-index: 1;
        }

/* XLarge */

@media screen and (max-width: 1680px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 12pt;
    }
}

/* Large */

@media screen and (max-width: 1280px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11pt;
    }
}

/* Medium */

#navPanel, #navToggle {
    display: none;
}

@media screen and (max-width: 980px) {

    /* Basic */

    html, body {
        overflow-x: hidden;
    }

    body, input, select, textarea {
        font-size: 11pt;
    }


    /* Image */

    .image.left {
        width: 25%;
        margin-bottom: 2em !important;
    }

    /* Menu */

    ul.menu li {
        display: block;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }


    /* Button */

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        width: 100%;
        text-align: center;
        font-size: 1.35em;
        padding: 0.85em 0 !important;
    }

        input[type="button"].icon,
        input[type="submit"].icon,
        input[type="reset"].icon,
        button.icon,
        .button.icon {
            padding-right: 0.75em !important;
        }

            input[type="button"].icon:before,
            input[type="submit"].icon:before,
            input[type="reset"].icon:before,
            button.icon:before,
            .button.icon:before {
                margin-right: 0.5em;
                top: 0.05em;
            }

    /* Wrappers */

    #header-wrapper {
        padding: 3em 0 1em 0;
        text-align: center;
    }

    #footer-wrapper {
        padding: 6em 0 4em 0;
    }

    /* Header */

    #header {
        margin: 0 auto;
    }

    /* Logo */

    #logo span {
        display: block;
        margin: 0;
    }

    /* Nav */

    #nav {
        display: none;
    }

    /* Banner */

    #banner {
        padding: 4.5em 3em;
        text-align: center;
    }

        #banner ul {
            margin: 2em 0 0 0;
        }

        #banner .button.icon:before {
            position: relative;
            right: auto;
            top: auto;
        }

    /* Content */

    #content {
        border-bottom: solid 1px #e8e8e8;
        padding-bottom: 4em;
        margin-bottom: 0 !important;
    }

        #content > :last-child {
            margin-bottom: 0 !important;
        }

    #sidebar > :last-child {
        margin-bottom: 0 !important;
    }

    /* Footer */

    #copyright {
        padding: 0;
    }

    /* Nav */

    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }

    #navToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
    }

        #navToggle .toggle {
            width: 70px;
            height: 50px;
            opacity: 0.35;
        }

            #navToggle .toggle:before {
                display: inline-block;
                font-family: FontAwesome;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                left: 6px;
                top: 6px;
                background: rgba(0, 0, 0, 0.5);
                width: 58px;
                height: 38px;
                border-radius: 6px;
                content: '\f0c9';
                color: #fff;
                text-align: center;
                line-height: 38px;
                font-size: 20px;
            }

            #navToggle .toggle:active {
                opacity: 0.75;
            }

    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #fff;
        box-shadow: inset -3px 0px 0px 0px #dfdfdf;
        padding: 0 23px 0 20px;
    }

        #navPanel .link {
            display: block;
            text-decoration: none;
            height: 54px;
            line-height: 54px;
            border-top: solid 1px #e8e8e8;
            color: #696969;
        }

            #navPanel .link:first-child {
                border-top: 0;
            }

        #navPanel .indent-1 {
            display: inline-block;
            width: 1em;
        }

        #navPanel .indent-2 {
            display: inline-block;
            width: 2em;
        }

        #navPanel .indent-3 {
            display: inline-block;
            width: 3em;
        }

        #navPanel .indent-4 {
            display: inline-block;
            width: 4em;
        }

        #navPanel .indent-5 {
            display: inline-block;
            width: 5em;
        }

        #navPanel .depth-0 {
            color: #444;
            font-weight: 800;
        }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}


/* LOADING   --------------- */
.loader {
    background-color: #e6cb0a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    padding-top: 20%;
}

.car__body {
    -webkit-animation: shake 0.2s ease-in-out infinite alternate;
    animation: shake 0.2s ease-in-out infinite alternate;
}

.car__line {
    -webkit-transform-origin: center right;
    transform-origin: center right;
    stroke-dasharray: 22;
    -webkit-animation: line 0.8s ease-in-out infinite;
    animation: line 0.8s ease-in-out infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.car__line--top {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.car__line--middle {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.car__line--bottom {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateY(-1%);
        transform: translateY(-1%);
    }

    100% {
        -webkit-transform: translateY(3%);
        transform: translateY(3%);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateY(-1%);
        transform: translateY(-1%);
    }

    100% {
        -webkit-transform: translateY(3%);
        transform: translateY(3%);
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}


/* Small */

@media screen and (max-width: 736px) {

    /* Basic */

    body, input, select, textarea {
        line-height: 2em;
    }

    h2, h3, h4, h5, h6 {
        font-size: 13pt;
        margin: 0 0 1em 0;
    }

    /* Section/Article */

    section, article {
        clear: both;
        margin-bottom: 3em !important;
    }

        section.last, article.last {
            margin-bottom: 0 !important;
        }

    /* Image */

    .image.left {
        width: 25%;
        margin-bottom: 2em !important;
    }

    /* Menu */

    ul.menu li {
        display: block;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    /* Actions */

    ul.actions li {
        display: block;
        padding: 0;
        margin: 1em 0 0 0;
    }

        ul.actions li:first-child {
            margin-top: 0;
        }

    /* Button */

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        width: 100%;
        text-align: center;
        font-size: 1.25em !important;
        padding: 0.65em 0 !important;
    }

        input[type="button"].icon,
        input[type="submit"].icon,
        input[type="reset"].icon,
        button.icon,
        .button.icon {
            padding-right: 0.75em !important;
        }

            input[type="button"].icon:before,
            input[type="submit"].icon:before,
            input[type="reset"].icon:before,
            button.icon:before,
            .button.icon:before {
                margin-right: 0.5em;
                top: 0.05em;
            }

    /* Box */

    .box {
        padding: 15px 15px 15px 15px;
        margin: 0;
    }

        .box.feature {
            margin: 20px 0 0 0 !important;
            padding: 0;
        }

            .box.feature .inner {
                padding: 30px 15px 30px 15px;
            }

            .box.feature p {
                margin: 0;
            }

            .box.feature .image {
                position: relative;
                margin: 0;
            }

                .box.feature .image img {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

    /* Widgets */

    .widget.thumbnails .image {
        margin: 0;
    }

    .widget.thumbnails .x {
        padding: 1em 0.5em 0 0;
    }

    .widget.thumbnails .y {
        padding: 1em 0 0 0.5em;
    }

    .widget.thumbnails .row:first-child .x, .widget.thumbnails .row:first-child .y {
        padding-top: 0;
    }

    /* Wrappers */

    #header-wrapper {
        padding: 3em 0 1.5em 0;
    }

    #banner-wrapper {
        padding: 0 15px 0 15px;
    }

    #features-wrapper {
        padding: 0 15px 40px 15px;
    }

    #main-wrapper, #footer-wrapper {
        padding: 40px 30px 40px 30px;
    }

    /* Logo */

    #logo h1 {
        font-size: 2.75em;
        padding: 0.2em 0.275em;
    }

    #logo span {
        line-height: 3em;
    }

    /* Banner */

    #banner {
        text-align: center;
        padding: 15px 15px 15px 15px;
        margin: 0 auto !important;
    }

        #banner h2 {
            font-size: 2em;
            margin: 0.75em 0 0.5em 0;
        }

        #banner p {
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0;
        }

        #banner ul {
            margin: 0;
        }

        #banner .button {
            margin: 0 0 1em 0;
        }

    /* Content */

    #content {
        padding-bottom: 3em;
    }

    /* Footer */

    #footer section {
        border-bottom: solid 1px #ccc;
        padding-bottom: 3em;
        margin-bottom: 1em !important;
    }

    #copyright {
        text-align: left;
    }
}

.ui-widget-content {
    z-index: 10;
    position: absolute;
    left: 100px;
    /* top: 250px; */
    max-width: 700px;
    padding: 50px;
    /* width: auto; */
    /* min-width: 800px; */
    height: auto;
    font-weight: bold !important;
    color: #0090c5;
    background: rgba(51, 49, 49, 0.3);
    border: 1px solid rgb(113, 110, 110);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important;
}

#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute !important;
    overflow: hidden !important;
}


#ctnInicio {
    height: 0px;
    font-size: 15px;
}

.w3-content img {
    height: 350px;
}

.listaBotaoInicio {
    padding: 20px;
}

    .listaBotaoInicio li {
        margin: 0px 20px;
    }

        .listaBotaoInicio li a {
            margin: 20px;
        }

.ctnEntregaInterno {
    display: block;
    font-weight: 800;
    margin: 0 0 1em 0;
    font-size: 0.8em;
    color: #444;
    background: white;
    padding: 3px 20px;
    /*border-radius: 50px;*/
}

    .ctnEntregaInterno .titulo {
        margin: 0;
        /* padding: 0; */
        border-bottom: 1px solid;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        color: #0090c5;
        margin-bottom: 10px;
    }


.btnSolicitacao {
    float: right;
}

.btnConfirmacao {
    float: right;
    background-color: #cacc13 !important;
}

    .btnConfirmacao:hover {
        background-color: #ebec5e !important;
    }

.ui-menu {
    width: 501px;
    height: auto;
    background: white;
    padding: 15px;
    cursor: pointer;
}

    .ui-menu:hover {
        background-color: #e4de3f;
    }


.cts-titulo-side-bar {
    margin: -50px -50px -50px -50px;
    /*margin: -50px  -35px -35px -35px;*/
    background: #373730;
    padding: 7px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
}

    .cts-titulo-side-bar .titulo {
        margin-right: -100px;
    }

    .cts-titulo-side-bar .iconeLeft {
        top: 0;
        float: right;
        display: block;
        position: relative;
    }


.cts-subtitulo-side-bar {
    margin: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(51, 49, 49, 0.3);
    background: #373730;
    padding: 7px;
    cursor: pointer;
}

    .cts-subtitulo-side-bar .titulo {
        color: white;
    }

    .cts-subtitulo-side-bar .subtitulo {
        font-size: 12px;
        display: block;
        margin-top: -15px;
    }

    .cts-subtitulo-side-bar .iconeLeft {
        top: 0;
        float: right;
        display: block;
        position: relative;
    }


.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #20C2E0;
    }

        .option-input:checked::before {
            height: 20px;
            width: 25px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 20.66667px;
            text-align: center;
            line-height: 27px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #40e0d0;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
        padding-top: unset;
        margin: 0px 15px 0;
        height: 10px;
        width: 25px;
        min-height: 25px;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }

.total {
    display: inline;
    color: #cacc13;
}

