@using System.Web.Http
@using BHJet_Admin.Models


<body onload="chamaMapa();FazMarcacao(-19.939330, -43.989169); FazMarcacao(-19.936249, -43.993768)">
    <ol class="breadcrumb">
        <li><a onclick="history.go(-1);">Home</a></li>
        <li><a href="#map_canvas">@ViewBag.TituloSolicitacao</a></li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4><a onclick=" history.go(-1);"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>@ViewBag.TituloSolicitacao</h4>
            </div>
        </div>

        <div id="map_canvas">
        </div>
    </div>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w"></script>
    <script type="text/javascript" src="~/Scripts/GoogleMapsBHJet.js"></script>
</body>