<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<div class="main-sidebar">

	<section id="menuLateral" class="sidebar" style="height: auto;">
		<div class="cts-titulo-side-bar">
			<span>BH Jet Express - Logísitica e serviços</span>
		</div>
		<div class="div-buttom-side-bar">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-12 text-center">
					<button class="btn btn-default btn-lg cts-buttom-side-bar" onclick="location.href='@Url.Action("Index", "Entregas")'">Solicitar entrega avulsa</button>
				</div>
			</div>
		</div>
		<div class="div-buttom-side-bar">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-12 text-center">
					<button class="btn btn-default btn-lg cts-buttom-side-bar">Agendar uma solicitação</button>
				</div>
			</div>
		</div>
		<div class="div-buttom-side-bar">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-12 text-center">
					<button class="btn btn-default btn-lg cts-buttom-side-bar">Acompanhar uma solicitação</button>
				</div>
			</div>
		</div>
		<ul class="sidebar-menu tree" style="font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif" data-widget="tree">
			<li class="treeview">
				<a href="">
					<i class="fa fa-info-circle" aria-hidden="true"></i>Saiba mais sobre nossos serviços
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Atualizar meu cadastro e dados para pagamento</span>
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-refresh" aria-hidden="true"></i><span>Histórico de serviços / entregas</span>
				</a>
			</li>
		</ul>
	</section>

	@{
		Html.RenderPartial("~/Views/Shared/_Loading.cshtml");
	}

</div>
<div class="container-fluid cts-page-home" style="background-image: url('/./Images/bh-aerea.jpg');">
</div>
